{% extends 'temp/main_cust.html' %}
{%  block base %}
<!DOCTYPE html>
<html>
<head>
	<title>THEME ORDER DETAILS</title>
</head>
<body>
<center>
	<h1 style="color: #eccdaa">THEME ORDER DETAILS</h1>
	<form method="post" enctype="multipart/form-data" >
        {% csrf_token %}
		<table>
			<tr>
    			<td style="padding: 3px; font-weight: bold;">Cake Name:</td>
    			<td><input type="text" name="cn" value="{{ a.cake_name }}" readonly style="border: 1px solid #1b110f; border-radius: 3px; padding: 5px; box-sizing: border-box; background-color: #3d352e; color: white"></td>
    		</tr>
    		<tr>
                <td style="padding: 3px; font-weight: bold;">Image:</td>
{#                <td><img src="ii" height="45px" width="45px" value="{{ a.image1 }}"></td>#}
                <td><img src="/static/{{ a.image1 }}"style=" height:50px;width: 50px" ></td>
            </tr>
    		<tr>
    			<td style="padding: 3px; font-weight: bold;">Flavour:</td>
    			<td><input type="text" name="fr" value="{{ a.flavour }}" readonly style="border: 1px solid #1b110f; border-radius: 3px; padding: 5px; box-sizing: border-box; background-color: #3d352e; color: white"></td>
    		</tr>
    		<tr>
    			<td style="padding: 3px; font-weight: bold;">shape:</td>
    			<td><select name="shape" required style="border: 1px solid #1b110f; border-radius: 3px; padding: 5px; box-sizing: border-box; background-color: #3d352e; color: white">
					<option>----SELECT----</option>
					<option value="Square">Square</option>	
					<option value="Circle">Circle</option>
					<option value="Rectangle">Rectangle</option>
					<option value="Triangle">Triangle</option>
					<option value="Heart">Heart</option>
				</select></td>
    		</tr>
            <tr>
                <td style="padding: 3px; font-weight: bold;">Cake Count:</td>
                <td><input type="text" name="ct" required pattern="{0-9}{2}" minlength="1" maxlength="2" style="border: 1px solid #1b110f; border-radius: 3px; padding: 5px; box-sizing: border-box; background-color: #3d352e; color: white"></td>
            </tr>
            <tr>
                <td style="padding: 3px; font-weight: bold;">Weight:</td>
                <td><input type="text" name="wt" required style="border: 1px solid #1b110f; border-radius: 3px; padding: 5px; box-sizing: border-box; background-color: #3d352e; color: white"></td>
            </tr>
    		<tr>
    			<td style="padding: 3px; font-weight: bold;">Tier:</td>
    			<td><select name="tire" required style="border: 1px solid #1b110f; border-radius: 3px; padding: 5px; box-sizing: border-box; background-color: #3d352e; color: white">
					<option>----SELECT----</option>
					<option value="1">1</option>	
					<option value="2">2</option>
					<option value="3">3</option>
				</select></td>
			</tr>
            <tr>
                <td style="padding: 3px; font-weight: bold;">Wishes:</td>
                <td><input type="text" name="ws" style="border: 1px solid #1b110f; border-radius: 3px; padding: 5px; box-sizing: border-box; background-color: #3d352e; color: white"></td>
            </tr>
			<tr>
    			<td style="padding: 3px; font-weight: bold;">Desciption:</td>
    			<td><input type="text" name="dcr" style="border: 1px solid #1b110f; border-radius: 3px; padding: 5px; box-sizing: border-box; background-color: #3d352e; color: white"></td>
    		</tr>
            <tr>
                <td style="padding: 3px; font-weight: bold;">Photo:</td>
                <td><input type="file" name="rfpic" style="border: 1px solid #1b110f; border-radius: 3px; padding: 5px; box-sizing: border-box; background-color: #3d352e; color: white"></td>
            </tr>
            <tr>
                <td style="padding: 3px; font-weight: bold;">Delivery Date:</td>
                <td><input type="date" name="de" required style="border: 1px solid #1b110f; border-radius: 3px; padding: 5px; box-sizing: border-box; background-color: #3d352e; color: white" min="{{ dt }}"></td>
            </tr>
            <tr>
                <td style="padding: 3px; font-weight: bold;">Delivery Time:</td>
                <td><input type="Time" name="te" required style="border: 1px solid #1b110f; border-radius: 3px; padding: 5px; box-sizing: border-box; background-color: #3d352e; color: white" ></td>
            </tr>
            <tr>
    			<td style="padding: 3px; font-weight: bold;">Amount:</td>
    			<td><input type="text" name="rt" value="{{ a.price }}" readonly style="border: 1px solid #1b110f; border-radius: 3px; padding: 5px; box-sizing: border-box; background-color: #3d352e; color: white"></td>
    		</tr>
{#    		<tr>#}
{#            	<td>70 rupees delivery </td><td>charge will be added</td>#}
{#            </tr>#}
{#            <tr>#}
{#            	<td>Total price:</td>#}
{#            	<td><input type="text" name="tr" required style="border: 1px solid #1b110f; border-radius: 3px; padding: 5px; box-sizing: border-box; background-color: #3d352e; color: white"></td>#}
{#            </tr>#}
             <tr>
                <td style="padding: 3px; font-weight: bold;">Delivery</td><td>Details</td>
            </tr>
            <tr>
                <td style="padding: 3px; font-weight: bold;">House name:</td>
                <td><input type="text" name="hnm" value="{{ b.house_name }}" required style="border: 1px solid #1b110f; border-radius: 3px; padding: 5px; box-sizing: border-box; background-color: #3d352e; color: white"></td>
            </tr>
            <tr>
                <td style="padding: 3px; font-weight: bold;">Post Office:</td>
                <td><input type="text" name="pstof" value="{{ b.post_office }}" required style="border: 1px solid #1b110f; border-radius: 3px; padding: 5px; box-sizing: border-box; background-color: #3d352e; color: white"></td>
            </tr>
            <tr>
                <td style="padding: 3px; font-weight: bold;">Pin:</td>
                <td><input type="text" name="pn" value="{{ b.pin_code }}" required style="border: 1px solid #1b110f; border-radius: 3px; padding: 5px; box-sizing: border-box; background-color: #3d352e; color: white"></td>
            </tr>
            <tr>
                <td style="padding: 3px; font-weight: bold;">District:</td>
                <td><input type="text" name="dis" value="{{ b.district }}" required style="border: 1px solid #1b110f; border-radius: 3px; padding: 5px; box-sizing: border-box; background-color: #3d352e; color: white"></td>
            </tr>
            <tr>
                <td style="padding: 3px; font-weight: bold;">Phone no.</td>
                <td><input type="text" name="phn" value="{{ b.phone_no }}" required style="border: 1px solid #1b110f; border-radius: 3px; padding: 5px; box-sizing: border-box; background-color: #3d352e; color: white"></td>
            </tr>
            <tr>
            	<td></td>
            	<td><input type="submit" name="btn" value="ORDER" class="btn btn-primary" style="border-color: #1b110f;color: #1b110f"></td>
            </tr>
        </table>
	</form>
</center>

</body>
</html>
{%  endblock %}