{%  extends 'temp/main_cust.html' %}
{%  block base %}
<!DOCTYPE html>
<html>
<head>
	<title>CAKE DETAILS</title>
</head>
<body>
	<center>
		<h1 style="color: #eccdaa">CAKE DETAILS</h1>
		<form method="post">
            {% csrf_token %}
		<tr>
			<td><input type="text" name="search" value="{{ se }}"></td>
			<td><input type="submit" name="action" value="search">
		</tr>
            <tr>
			<td><input type="submit" name="action" value="Simple cakes"></td>
			<td><input type="submit" name="action" value="Theme cakes"></td>
		</tr>
	</form>

	
		<table border="2">
			<tr style="color: #FF984D;text-align: center">
                <th style="border: #33211D 3px solid;background-color: #331715;">Baker name</th>
				<th style="border: #33211D 3px solid;background-color: #331715;">Cake name</th>
				<th style="border: #33211D 3px solid;background-color: #331715;">Image</th>
				<th style="border: #33211D 3px solid;background-color: #331715;">Image</th>
				<th style="border: #33211D 3px solid;background-color: #331715;">Image</th>
				<th style="border: #33211D 3px solid;background-color: #331715;">Flavour</th>
				<th style="border: #33211D 3px solid;background-color: #331715;">Price per kg</th>
				<th style="border: #33211D 3px solid;background-color: #331715;">Category</th>
                <th style="border: #33211D 3px solid"></th>

			</tr>
            {% for i in x %}
			<tr>
                <td style="background-color: #542622;border: #33211D 3px solid">{{ i.baker.name }}</td>
			    <td style="background-color: #421E1B;border: #33211D 3px solid">{{ i.cake_name }}</td>
{#				<td>{{ i.image1 }}</td>#}
                <td style="background-color: #542622;border: #33211D 3px solid"><a href="/static/{{ i.image1 }}"> <img src="/static/{{ i.image1  }}" height="50px" width="50px"></a></td>
{#				<td>{{ i.image2 }}</td>#}
                <td style="background-color: #421E1B;border: #33211D 3px solid"><a href="/static/{{ i.image2 }}"> <img src="/static/{{ i.image2  }}" height="50px" width="50px"></a></td>
{#				<td>{{ i.image3 }}</td>#}
                <td style="background-color: #542622;border: #33211D 3px solid"><a href="/static/{{ i.image3 }}"> <img src="/static/{{ i.image3  }}" height="50px" width="50px"></a></td>
				<td style="background-color: #421E1B;border: #33211D 3px solid">{{ i.flavour }}</td>
				<td style="background-color: #542622;border: #33211D 3px solid">{{ i.price }}</td>
				<td style="background-color: #421E1B;border: #33211D 3px solid">{{ i.type }}</td>

                {% if i.type == "Simple" %}
				<td style="background-color: #542622;border: #33211D 3px solid"><a href="/order/ordr/{{ i.product_id }}" class="btn btn-primary" style="border: #0a0706;border-radius: 7px">ORDER</a></td>
                {% elif i.type == "Theme" %}
                <td style="background-color: #542622;border: #33211D 3px solid"><a href="{% url 'them' idd=i.product_id %}" class="btn btn-primary" style="border: #0a0706;border-radius: 7px">ORDER</a></td>
            {% endif %}
			</tr>
            {% endfor %}
		</table>
	</center>
</body>
</html>
{% endblock %}