{% extends 'temp/main_baker.html' %}
{%  block base %}
<!DOCTYPE html>
<html>
<head>
	<title>ORDER DETAILS</title>
</head>
<body>
<center>
	<h1 style="color: #eccdaa">ORDER DETAILS</h1>
	<table border="2" style="border: #421E1B">
		<tr style="background-color: #331715;color: #FF984D;text-align: center">
			<th style="border: #33211D 3px solid">Cake name</th>
			<th style="border: #33211D 3px solid">Image</th>
			<th style="border: #33211D 3px solid">Flavour</th>
			<th style="border: #33211D 3px solid">Shape</th>
			<th style="border: #33211D 3px solid">Cake count</th>
			<th style="border: #33211D 3px solid">Weight</th>
			<th style="border: #33211D 3px solid">Tier</th>
			<th style="border: #33211D 3px solid">Delivery date</th>
			<th style="border: #33211D 3px solid">Delivery time</th>
			<th style="border: #33211D 3px solid">Wishes</th>
			<th style="border: #33211D 3px solid">Amount</th>
			<th style="border: #33211D 3px solid">Total price</th>
            <th>Customer name</th>
            <th >House name</th>
            <th>Post Office</th>
            <th>pin</th>
            <th>District</th>
            <th>phone no.</th>
            <th style="border: #33211D 3px solid">Status</th>

{#            <th colspan="3" style="border: #33211D 3px solid"></th>#}
		</tr>
        {% for i in x %}
		<tr>
			<td style="background-color: #542622;border: #33211D 3px solid">{{ i.product.cake_name }}</td>
{#			<td>{{ i.product.image1 }}</td>#}
            <td style="background-color: #421E1B;border: #33211D 3px solid"><a href="/static/{{ i.product.image1 }}"> <img src="/static/{{ i.product.image1  }}" height="50px" width="50px"></a></td>
			<td style="background-color: #542622;border: #33211D 3px solid">{{ i.product.flavour }}</td>
			<td style="background-color: #421E1B;border: #33211D 3px solid">{{ i.shape }}</td>
			<td style="background-color: #542622;border: #33211D 3px solid">{{ i.cake_count }}</td>
			<td style="background-color: #421E1B;border: #33211D 3px solid">{{ i.weight }}</td>
			<td  style="background-color: #542622;border: #33211D 3px solid">{{ i.tier }}</td>
			<td  style="background-color: #421E1B;border: #33211D 3px solid">{{ i.delivery_date }}</td>
			<td style="background-color: #542622;border: #33211D 3px solid">{{ i.delivery_time }}</td>
			<td style="background-color: #421E1B;border: #33211D 3px solid">{{ i.wishes }}</td>
			<td style="background-color: #542622;border: #33211D 3px solid">{{ i.product.price}}</td>
			<td style="background-color: #421E1B;border: #33211D 3px solid">{{ i.total_price }}</td>
            <td style="background-color: #542622;border: #33211D 3px solid">{{ i.customer.name }}</td>
            <td style="background-color: #421E1B;border: #33211D 3px solid">{{ i.customer.house_name }}</td>
            <td style="background-color: #542622;border: #33211D 3px solid">{{ i.customer.post_office }}</td>
            <td style="background-color: #421E1B;border: #33211D 3px solid">{{ i.customer.pin_code }}</td>
            <td style="background-color: #542622;border: #33211D 3px solid">{{ i.customer.district }}</td>
            <td style="background-color: #421E1B;border: #33211D 3px solid">{{ i.customer.phone_no }}</td>
            <td style="background-color: #542622;border: #33211D 3px solid">{{ i.status }}</td>
            {% if i.status == "pending" %}
                <td ><a href="/order/accept/{{ i.order_id }}" class="btn btn-primary" style="border-color: #1b110f;color: #1b110f">ACCEPT</a></td>
                <td><a href="/order/reject/{{ i.order_id }}" class="btn btn-primary" style="border-color: #1b110f;color: #1b110f">REJECT</a></td>
                {% elif i.status == "Accepted" %}
                    <td ><a href="/order/reject/{{ i.order_id }}" class="btn btn-primary" style="border-color: #1b110f;color: #1b110f">REJECT</a></td>
                {% elif i.status == "Rejected" %}
                    <td><a href="/order/accept/{{ i.order_id }}" class="btn btn-primary" style="border-color: #1b110f;color: #1b110f">ACCEPT</a></td>
                {% elif i.status == "Cancelled" %}

{#                    <td><a href="/order/accept/{{ i.order_id }}"></a></td>#}
                {% elif i.status == "Delivered" %}

{#                    <td><a href="/order/accept/{{ i.order_id }}"></a></td>#}
            {% else %}
                <td ><a href="/order/delivered/{{ i.order_id }}" class="btn btn-primary" style="border-color: #1b110f;color: #1b110f">DELIVERED</a></td>
            {% endif %}
		</tr>
        {% endfor %}
    </table>
</center>
</body>
</html>
{%  endblock %}