{%  extends 'temp/main_cust.html' %}
{%  block base %}
<!DOCTYPE html>
<html>
<head>
   <title>REVIEWS</title>
</head>
<body>
<center>
   <h1 style="color: #eccdaa">REVIEWS</h1>
<form method="post">
    {% csrf_token %}
        <tr style="background-color: #331715;color: #FF984D;text-align: center">
         <td><input type="text" name="search" placeholder="Search Here.." ></td>
         <td><input type="submit" name="action" value="search">
      </tr>
</form>
   <table border="2">

      <tr style="background-color: #331715;color: #FF984D;text-align: center">
         <th style="border: #33211D 3px solid">Baker name</th>
         <th style="border: #33211D 3px solid">Customer name</th>
         <th style="border: #33211D 3px solid">Rating</th>
         <th style="border: #33211D 3px solid">Review</th>
      </tr>
        {% for i in x %}
      <tr>
         <td  style="background-color: #542622;border: #33211D 3px solid">{{ i.baker.name }}</td>
         <td style="background-color: #421E1B;border: #33211D 3px solid">{{ i.customer.name }}</td>
         {% if i.rating == '1' %}
         <td style="background-color: #542622;border: #33211D 3px solid;color: yellow">&#9733;</td>
            {% elif i.rating == '2' %}
            <td style="background-color: #542622;border: #33211D 3px solid;color: yellow">&#9733;&#9733;</td>
            {% elif i.rating == '3' %}
            <td style="background-color: #542622;border: #33211D 3px solid;color: yellow">&#9733;&#9733;&#9733;</td>
            {% elif i.rating == '4' %}
            <td style="background-color: #542622;border: #33211D 3px solid;color: yellow">&#9733;&#9733;&#9733;&#9733;</td>
            {% else %}
            <td style="background-color: #542622;border: #33211D 3px solid;color: yellow">&#9733;&#9733;&#9733;&#9733;&#9733;</td>
        {% endif %}
         <td style="background-color: #421E1B;border: #33211D 3px solid">{{ i.review }}</td>
      </tr>
        {% endfor %}
    </table>

</center>
</body>
</html>
{%  endblock %}