<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cerrificate</title>
</head>
<body>
<center>
    <h1 style="color: #421E1B">HOME BAKES</h1>
    <p>Bill for your cake</p>
{#    <p>{{ ok. }}</p>#}
    <p>User_id: {{ ok.customer_id }}</p>
    <P>Customer name: {{ ok.customer.name }}</P>
    <p>Product:   {{ ok.product.cake_name }}</p>
    <p>Cake rate: {{ ok.total_price }}</p>
    <p>Cake weight: {{ ok.weight }}</p>
    <p>Cake count: {{ ok.cake_count }}</p>
    <p>Delivery charge: {{ ok.delivery_charge }}</p>
    <p>Amount : {{ ok.total_price }}</p>
    <p></p>
</center>
</body>
</html>

